<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style.css">
  <title>OnMyFit</title>
</head>

<body>
  <div class="main">
    <a href="index.html">
      <div class="icon">
        <img src="../images/omf_icon.png" alt="" style="width: 30px; height: 30px;">
        <span>ON MY FIT</span>
      </div>
    </a>
    <div class="side">
      <input type="checkbox" id="menuicon">
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
        <div class="sidenav">
          <a href="dress.html">기준옷 만들기</a>
          <a href="list.html">기준옷 고르기</a>
      </label>
      </input>
    </div>
    <div class="container">
      <svg width="300" height="300" id="mySvg" viewbox="0 0 100 100">
          <g>
              <path id="path_01" d="" stroke="#00e6b5" fill="none"/>
              <path id="path_02" d="" stroke="#00e6b5" fill="none"
                  transform="translate(100,0) scale(-1,1)"/>
          </g>
          <g>
              <path id="path_01" d="" stroke="#00e6b5" fill="none"/>
              <path id="path_02" d="" stroke="#00e6b5" fill="none"
                  transform="translate(100,0) scale(-1,1)"/>
          </g>
      </svg>
      <p>비교할 하의 정보를 입력해주세요.</p>
      <div class="cloth-size">
        <div class="size" value="2">
          <div class="item"> 하의 명칭 <input type="text" id="bottom_name"> cm</div>
          <div class="item"> 엉덩이둘레 <input type="text" id="bottom_waist"> cm</div>
          <div class="item"> 허리둘레 <input type="text" id="bottom_edge"> cm</div>
          <div class="item"> 기장 <input type="text" id="bottom_under"> cm</div>
          <div class="item"> 허벅지너비 <input type="text" id="bottom_thigh"> cm</div>
          <div class="item"> 다리길이 <input type="text" id="bottom_height"> cm</div>
        </div>
        <div>
          <button type="button" id="upload">옷 등록하기</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/storage.js"></script>
</body>

</html>
