<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../script.js"></script>
  <link rel="stylesheet" href="../style.css">
  <title>OnMyFit</title>
</head>
<body>
  <div class="main">
    <a href="index.html">
    <div class="icon">
      <img src="../images/omf_icon.png" alt="" style="width: 30px; height: 30px;">
      <span>ON MY FIT</span>
    </div>
    </a>
    <div class="side">
      <input type="checkbox" id="menuicon">
        <label for="menuicon">
          <span></span>
          <span></span>
          <span></span>
          <div class="sidenav">
            <a href="dress.html">기준옷 만들기</a>
            <a href="list.html">기준옷 고르기</a>
            <a href="doll.html">마네킹 만들기</a>
          </div>
        </label>
      </input>
    </div>

    <div class="container">
      <div class="box_button">
      <span style="color: rgb(0, 230, 181);" name="compare">옷 비교하기</span>
      <input type="checkbox" id="switch">
        <label for="switch">
          <img src="../images/switch.png" alt="" style="height: 25px; padding: 0px 15px;">
        </label>
      </input>
      <span name="look" style="color: black;">마네킹 보기</span>
      </div>
      <div class="cloth">
        <img src="../images/hood.png" alt="" style="height: 300px;">
      </div>
      <div class="cloth-size">
        <span></span>
        <div class="size">
          <div class="item"> 가슴너비 <input type="text"> cm</div>
          <div class="item"> 어깨너비 <input type="text"> cm</div>
          <div class="item"> 소매길이 <input type="text"> cm</div>
          <div class="item"> 상하길이 <input type="text"> cm</div>
        </div>
        <div>
          <button type="button">옷 비교하기</button>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
