<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style.css">
  <title>OnMyFit</title>
</head>

<body>
  <div class="main">
    <a href="index.html">
    <div class="icon">
      <img src="../images/omf_icon.png" alt="" style="width: 30px; height: 30px;">
      <span>ON MY FIT</span>
    </div>
    </a>
    <div class="side">
      <input type="checkbox" id="menuicon">
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
        <div class="sidenav">
          <a href="dress.html">기준옷 만들기</a>
          <a href="list.html">기준옷 고르기</a>
          <a href="index.html">비교하기</a>
        </div>
      </label>
      </input>
    </div>

    <div class="container">
      <img src="../images/onepiece_icon.png" alt="">
      <p>롱패팅/코드 만들기에 필요한 정보를 입력해주세요.</p>
      <div class="cloth-size">
        <div class="size" value="5">
          <div class="item"> name <input type="text" id="longDress_name"> cm</div>
          <div class="item"> Chest <input type="text" id="longDress_Chest"> cm</div>
          <div class="item"> shoulder <input type="text" id="longDress_shoulder"> cm</div>
          <div class="item"> arm <input type="text" id="longDress_arm"> cm</div>
          <div class="item">edge <input type="text" id="longDress_edge"> cm</div>
          <div class="item"> height <input type="text" id="longDress_height"> cm</div>
          <div class="item"> waist <input type="text" id="longDress_waist"> cm</div>
        </div>
        <div>
          <button type="button" id="upload">옷 등록하기</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/storage.js"></script>
</body>

</html>
